<?xml version="1.0" encoding="UTF-8" ?>

<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">0910*680*32*98*</property>
        <property name="hibernate.connection.url">
            jdbc:mysql://localhost/article
        </property>
        <property name="hibernate.connection.driver_class">
            com.mysql.cj.jdbc.Driver
        </property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL57Dialect</property>
        <property name="show_sql">true</property>
        <property name="hibernate.hbm2ddl.auto">update</property>

        <!-- Mapping-->
        <mapping class="ir.maktab.hibernate.projects.article.entities.User"/>
        <mapping class="ir.maktab.hibernate.projects.article.entities.Article"/>
        <mapping class="ir.maktab.hibernate.projects.article.entities.Category"/>

    </session-factory>
</hibernate-configuration>